<%= form_for(enfoque_materium) do |f| %>
  <% if enfoque_materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enfoque_materium.errors.count, "error") %> prohibited this enfoque_materium from being saved:</h2>

      <ul>
      <% enfoque_materium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :enfoque_id %>
    <%= f.text_field :enfoque_id %>
  </div>

  <div class="field">
    <%= f.label :materia_id %>
    <%= f.text_field :materia_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
