<p id="notice"><%= notice %></p>

<p>
  <strong>Enfoque:</strong>
  <%= @enfoque_materium.enfoque %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @enfoque_materium.materia %>
</p>

<%= link_to 'Edit', edit_enfoque_materium_path(@enfoque_materium) %> |
<%= link_to 'Back', enfoque_materia_path %>
