<p id="notice"><%= notice %></p>

<h1>Carrera Investigacions</h1>

<table>
  <thead>
    <tr>
      <th>Carrera</th>
      <th>Grupo investigacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrera_investigacions.each do |carrera_investigacion| %>
      <tr>
        <td><%= carrera_investigacion.carrera %></td>
        <td><%= carrera_investigacion.grupo_investigacion %></td>
        <td><%= link_to 'Show', carrera_investigacion %></td>
        <td><%= link_to 'Edit', edit_carrera_investigacion_path(carrera_investigacion) %></td>
        <td><%= link_to 'Destroy', carrera_investigacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrera Investigacion', new_carrera_investigacion_path %>
