<p id="notice"><%= notice %></p>

<p>
  <strong>Carrera:</strong>
  <%= @carrera_investigacion.carrera %>
</p>

<p>
  <strong>Grupo investigacion:</strong>
  <%= @carrera_investigacion.grupo_investigacion %>
</p>

<%= link_to 'Edit', edit_carrera_investigacion_path(@carrera_investigacion) %> |
<%= link_to 'Back', carrera_investigacions_path %>
