<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @profesor.nombre %>
</p>

<p>
  <strong>Oficina:</strong>
  <%= @profesor.oficina %>
</p>

<%= link_to 'Edit', edit_profesor_path(@profesor) %> |
<%= link_to 'Back', profesors_path %>
