<%= form_for(historia_academica) do |f| %>
  <% if historia_academica.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(historia_academica.errors.count, "error") %> prohibited this historia_academica from being saved:</h2>

      <ul>
      <% historia_academica.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :calificacion %>
    <%= f.text_field :calificacion %>
  </div>

  <div class="field">
    <%= f.label :materia_id %>
    <%= f.text_field :materia_id %>
  </div>

  <div class="field">
    <%= f.label :estudiante_id %>
    <%= f.text_field :estudiante_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
