<p id="notice"><%= notice %></p>

<h1>Historia Academicas</h1>

<table>
  <thead>
    <tr>
      <th>Calificacion</th>
      <th>Materia</th>
      <th>Estudiante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @historia_academicas.each do |historia_academica| %>
      <tr>
        <td><%= historia_academica.calificacion %></td>
        <td><%= historia_academica.materia %></td>
        <td><%= historia_academica.estudiante %></td>
        <td><%= link_to 'Show', historia_academica %></td>
        <td><%= link_to 'Edit', edit_historia_academica_path(historia_academica) %></td>
        <td><%= link_to 'Destroy', historia_academica, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Historia Academica', new_historia_academica_path %>
