<p id="notice"><%= notice %></p>

<p>
  <strong>Calificacion:</strong>
  <%= @historia_academica.calificacion %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @historia_academica.materia %>
</p>

<p>
  <strong>Estudiante:</strong>
  <%= @historia_academica.estudiante %>
</p>

<%= link_to 'Edit', edit_historia_academica_path(@historia_academica) %> |
<%= link_to 'Back', historia_academicas_path %>
