<p id="notice"><%= notice %></p>

<p>
  <strong>Profesor:</strong>
  <%= @profesor_grado.profesor %>
</p>

<p>
  <strong>Trabajo grado:</strong>
  <%= @profesor_grado.trabajo_grado %>
</p>

<%= link_to 'Edit', edit_profesor_grado_path(@profesor_grado) %> |
<%= link_to 'Back', profesor_grados_path %>
