<%= form_for(materia_investigacion) do |f| %>
  <% if materia_investigacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materia_investigacion.errors.count, "error") %> prohibited this materia_investigacion from being saved:</h2>

      <ul>
      <% materia_investigacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :materia_id %>
    <%= f.text_field :materia_id %>
  </div>

  <div class="field">
    <%= f.label :grupo_investigacion_id %>
    <%= f.text_field :grupo_investigacion_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
