<p id="notice"><%= notice %></p>

<h1>Materia Investigacions</h1>

<table>
  <thead>
    <tr>
      <th>Materia</th>
      <th>Grupo investigacion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materia_investigacions.each do |materia_investigacion| %>
      <tr>
        <td><%= materia_investigacion.materia %></td>
        <td><%= materia_investigacion.grupo_investigacion %></td>
        <td><%= link_to 'Show', materia_investigacion %></td>
        <td><%= link_to 'Edit', edit_materia_investigacion_path(materia_investigacion) %></td>
        <td><%= link_to 'Destroy', materia_investigacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Materia Investigacion', new_materia_investigacion_path %>
