<p id="notice"><%= notice %></p>

<p>
  <strong>Materia:</strong>
  <%= @materia_investigacion.materia %>
</p>

<p>
  <strong>Grupo investigacion:</strong>
  <%= @materia_investigacion.grupo_investigacion %>
</p>

<%= link_to 'Edit', edit_materia_investigacion_path(@materia_investigacion) %> |
<%= link_to 'Back', materia_investigacions_path %>
