<%= form_for(carrera_materium) do |f| %>
  <% if carrera_materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(carrera_materium.errors.count, "error") %> prohibited this carrera_materium from being saved:</h2>

      <ul>
      <% carrera_materium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :carrera_id %>
    <%= f.text_field :carrera_id %>
  </div>

  <div class="field">
    <%= f.label :materia_id %>
    <%= f.text_field :materia_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
