<p id="notice"><%= notice %></p>

<h1>Carrera Materia</h1>

<table>
  <thead>
    <tr>
      <th>Carrera</th>
      <th>Materia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @carrera_materia.each do |carrera_materium| %>
      <tr>
        <td><%= carrera_materium.carrera %></td>
        <td><%= carrera_materium.materia %></td>
        <td><%= link_to 'Show', carrera_materium %></td>
        <td><%= link_to 'Edit', edit_carrera_materium_path(carrera_materium) %></td>
        <td><%= link_to 'Destroy', carrera_materium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Carrera Materium', new_carrera_materium_path %>
