<p id="notice"><%= notice %></p>

<p>
  <strong>Carrera:</strong>
  <%= @carrera_materium.carrera %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @carrera_materium.materia %>
</p>

<%= link_to 'Edit', edit_carrera_materium_path(@carrera_materium) %> |
<%= link_to 'Back', carrera_materia_path %>
